.home_ {
    margin-top: 0px !important;
    margin-left: 150px !important;
    padding-top: 50px !important;
}

/*h3 {
    padding: 50px;
    background-color: aquamarine;
    width: 800px;
    border-radius: 10px;
    margin-top: 16%;
    margin-left: 8%;
}*/